<form class="form" [formGroup]="userForm" (ngSubmit)="submit()">
  <h1>User Form Without NgModel</h1>

  <input type="text" placeholder="prénom" formControlName="firstname" required />
  <input type="text" placeholder="nom" formControlName="lastname" required />

  <div formGroupName="address">
    <input type="text" placeholder="rue" formControlName="street" />
    <input type="text" placeholder="ville" formControlName="city" />
  </div>

  <button class="button" type="submit" [disabled]="userForm.invalid">Submit</button>
</form>

<p>Form Status: {{ userForm.status }}</p>
<div>
  <p>Form Value:</p>
  <pre>{{ userForm.value | json }}</pre>
</div>
